//- Create Page Header
mixin createTemplate(menu, pageName, contenturl)
	head
		title #{pageName} | Ronald B. Bucinell
		include ./../head.jade
		
	body
		article#wrapper         
			//- side navigation menu
			include ./../nav.jade
			
			//- main content
			main.container#main
				header.page-header
					h1 #{pageName}
					ul.breadcrumb
						li #{menu}
						li.active: a(href="#") #{pageName}
				section#dadcontent    
					script. 
						$( "#dadcontent" ).load( "#{contenturl}" );
					
					
			
