---
const { menu, name, course, courseName} = Astro.props;
---
<header class="page-header sticky-top mt-4 mb-2">
	{course && 
	  <h1 id="pageheader" class="display-5">
		{course}<small class="text-muted fs-3">&nbsp;{courseName}</small>
	  </h1>
	}
	{ !course && <h1 id="pageheader" class="display-5">{ name }</h1> }

	<h1 class="dislay-5" id="pageheader"></h1>
	<ul class="breadcrumb bg-light p-2">
		{course &&
		  <li class="breadcrumb-item"><a href="/courselisting.html">Courses</a></li>
		  <li class="breadcrumb-item"><a href="./">{course}</a></li>
		}
		<li class="breadcrumb-item">{menu}</li>
		<li class="breadcrumb-item active"><a href="#">{name}</a></li>
	</ul>
  </header>
