extends partials/layout.pug
block config
    - const [menu,name] = ['Lab', 'Projects'];
block content 
    
    #pag-nav
        nav.position-absolute.bottom-0( style="z-index:100")
            ul.pagination.pagination-sm.justify-content-center.border.border-garnet.shadow
    #projects
    
    template#project-template
        .card.mb-3.g-0
            .card-body
                .row
                    h3.card-title
                .row
                    .col-md-6
                        p.card-text 
                    .col-md-6
                        img.pull-right.img-fluid.rounded-start(src="/data/labs/Project%20-%20Student%20Motivated%20(500%20x%20279).jpg", alt="Mechanics Lab Pan View")
            .card-footer.text-garnet COLLABORATORS:
                span.mx-1.collaborators
    block scripts
    script.

        const cardTemplate = (name, summary, collaborators, imgSrc, imgAlt) => {
            let template = document.querySelector('#project-template');
            let clone = template.content.cloneNode(true);
            clone.querySelector('.card-title').innerText = name;
            clone.querySelector('.card-text').innerText  = summary;
            if( collaborators )
            {
                clone.querySelector('.collaborators').innerText = collaborators;
            }
            else 
            {
                clone.querySelector('.card-footer').classList.add('collapse')
            }
            clone.querySelector('img').setAttribute('alt', imgAlt );
            clone.querySelector('img').setAttribute('src', imgSrc );

            return clone;
        };
    
        const buildProjects = async ( xmlpath, outputId ) => {

            let [xmlDoc, xmlLastMod] = await loadXMLDoc(xmlpath);
            let paginationUL = document.querySelector('#pag-nav .pagination')
            
            for( let section of xmlDoc.querySelectorAll('section'))
            {
                let sectionName = section.getAttribute('name');
                document.querySelector(`#${outputId}`).appendChild(htmlToElement(`<div id="${sectionName}" class="mb-3 invisible" />`));
                document.querySelector(`#${outputId}`).appendChild(htmlToElement(`<h1 class="text-center mb-2">${sectionName}</h1>`));
                
                paginationUL.appendChild(htmlToElement(`<li class="page-item"><a class="page-link h-100" href="#${sectionName}">${sectionName}</a></h1>`))
                for( let project of section.querySelectorAll('project') )
                {
                    let projectName = project.getAttribute('name');
                    let summary = project.querySelector('summary').innerHTML.trim();
                    let collaborators = project.querySelector('collaborators').innerHTML.trim();
                    let img = project.querySelector('image');
                    let url = img.getAttribute('url');
                    let alt = img.getAttribute('alt');

                    console.log( projectName, summary.substring(0,20), collaborators, url, alt );
                    document.querySelector(`#${outputId}`).appendChild(cardTemplate(projectName, summary, collaborators, url, alt));
                }
            }
            //document.querySelector('.updated').innerText = `Updated ${new Date(xmlLastMod).toDateString()}`;
        }

        document.addEventListener('DadContentLoaded', async ()=> {
            buildProjects("content/data/projects.xml", "projects");
        });
